@import "./responsive.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

ion-icon {
  display: flex;
  align-items: center;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
}

body {
  display: flex;
  flex-direction: row;
  background: #e7e7e7;
}

.list-item {
  display: block;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  cursor: pointer;
}

.list-item:hover {
  background-color: #e0e0e0;
}

#konten-container {
  width: calc(100% - 300px);
  margin-left: 300px;
  padding: 32px;
  background: #fff;
  box-shadow: 0px 8px 45px rgba(34, 34, 34, 0.1);
}

#konten-container li {
  margin: 16px 0px 16px 32px;
}

.materials {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  gap: 32px;
  padding: 24px;
}

.aside {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 300px;
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aside a {
  width: 100%;
}